#pricing {
  display: flex;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  /* background-color: #370101; */
  z-index: -1;
}
.sect-1 {
  flex: 2;
  height: 100%;
  background-color: #370101;
  /* position: absolute; */
}
.sect-2 {
  flex: 1;
  height: 100%;
  background-color: #162d1b;
  /* position: absolute; */
}

.pricing-card {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #370101 , #162d1b);
}
.main-heading {
  font-size: var(--h4-font-size);
  color: white;
  font-weight: var(--font-weight-bold);
}

.left-content-sub-text {
  font-size: var(--p-font-size);
  /* font-weight: var(--font-weight-light); */
  font-weight: var(--font-weight-normal);
  color: white;
  margin-bottom: 80px;
}
.member-hr{
  color: white;
}
/* pricing table */

.demo10 {
  background-color: rgb(40 26 157 / 28%);
  padding: 44px 40px;
  height: 100%;
  width: 80%;
  
}
/* .demo10{background:#C0BFBF;padding:30px 0; height:100%;} */
.pricingTable10 {
  text-align: center;
  min-width: 196px;
  margin-bottom: 20px;
}
.pricingTable10 .pricingTable-header {
  border-top-right-radius: 20px;
  padding: 30px 0;
  background: #4d1e1e;
  position: relative;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .pricingTable-header {
  background: var(--primary-color);
}
.pricingTable10 .pricingTable-header:after,
.pricingTable10 .pricingTable-header:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d9d9d8;
  position: absolute;
  bottom: 12px;
}
.pricingTable10 .pricingTable-header:before {
  left: 40px;
}
.pricingTable10 .pricingTable-header:after {
  right: 40px;
}
.pricingTable10 .heading {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}
.pricingTable10 .price-value {
  display: inline-block;
  position: relative;
  font-size: 55px;
  font-weight: 700;
  color: #00b700;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .price-value {
  color: #fff;
}
.pricingTable10 .currency {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 6px;
  left: -19px;
}
.pricingTable10 .month {
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 15px;
  right: -30px;
  text-transform: uppercase;
}
.pricingTable10 .pricing-content {
  padding-top: 50px;
  background: #fff;
  position: relative;
}
.pricingTable10 .pricing-content:after,
.pricingTable10 .pricing-content:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #7c7c7c;
  position: absolute;
  top: 12px;
}
.pricingTable10 .pricing-content:before {
  left: 40px;
}
.pricingTable10 .pricing-content:after {
  right: 40px;
}
.pricingTable10 .pricing-content ul {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}
.pricingTable10 .pricing-content ul:after,
.pricingTable10 .pricing-content ul:before {
  content: "";
  width: 8px;
  height: 46px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #818282 50%, #727373 50%);
  position: absolute;
  top: -22px;
  z-index: 1;
  box-shadow: 0 0 5px #707070;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .pricing-content ul:after,
.pricingTable10:hover .pricing-content ul:before {
  background: linear-gradient(to bottom, #30a54d 50%, var(--primary-color) 50%);
}
.pricingTable10 .pricing-content ul:before {
  left: 44px;
}
.pricingTable10 .pricing-content ul:after {
  right: 44px;
}
.pricingTable10 .pricing-content ul li {
  font-size: 15px;
  font-weight: 700;
  color: #777473;
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d8;
}
.pricingTable10 .pricing-content ul li:last-child {
  border-bottom: none;
}
.pricingTable10 .read {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background: #d9d9d8;
  padding: 8px 25px;
  margin: 30px 0;
  transition: all 0.3s ease 0s;
}
.pricingTable10 .read:hover {
  text-decoration: none;
}
.pricingTable10:hover .read {
  background: var(--primary-color);
}
@media screen and (max-width: 990px) {
  .pricingTable10 {
    /* margin-bottom: 25px; */
  }
}
